 
<h1 style="text-align: center; color: blue; background-color: blanchedalmond;">WELCOME TO ICIN BANK'S</h1>
<ul>
  <li class="nav-item">
    <a routerLink="myyslistt" class="nav-link"   class="btn btn-primary"> User Requstes</a><br/><br/>
    <a routerLink="adminlistr" class="nav-link"   class="btn btn-primary"> Admin Login</a><br/><br/>
    <a routerLink="userrlks" class="nav-link"   class="btn btn-primary"> User Login</a><br/><br/>
  </li>
  <router-outlet></router-outlet></ul>
<pre>
                                                                    
</pre>
